@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-marquee {
    animation: marquee 20s linear infinite;
    will-change: transform;
}

.animate-marquee-reverse {
    animation: marquee-reverse 20s linear infinite;
    will-change: transform;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes marquee-reverse {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}